@media screen and (min-width: 1500px) {

    .title-h2 {
        position: absolute;
        box-sizing: border-box;
        top: 120px;
        width: 100%;
        padding: 16px;
        text-align: center;
        background-color: var(--accent2-color);
        font-size: 2.25em;
    }


    .card {
        position: absolute;
        top: 25%;
        left: 3%;
        width: 35%;
        border: solid 5px var(--accent2-color);

    }

    .card img {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        opacity: 0.9;
    }

    .overlay {
        position: absolute;
        top: 10%;
        width: 70%;
        font-size: large;
        list-style-type: none;
        margin-left: 8em;

    }


    .card2 {
        position: absolute;
        top: 85%;
        right: 10px;
        width: 35%;

        border: solid 5px var(--accent2-color);

    }

    .card2 img {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        opacity: 0.6;
    }

    .overlay2 {
        position: absolute;
        top: 20%;
        text-align: start;
        list-style-type: none;
    }



    .big-font {
        font-size: 2em;
        text-align: center;
    }

    .weather-font {
        font-size: 1.5em;
        font-weight: 700;
    }



}