 @media screen and (max-width: 5000px) {

 :root {
     --accent1-color: #1826a5;
     --accent2-color: rgb(255, 252, 74);
     --accent3-color: rgb(255, 215, 0);
     --heading-font: ".lato-bold", sans-serif;
     --body-font: ".roboto", sans-serif;
 }

 .roboto {
     font-family: "Roboto", sans-serif;
     font-style: normal;
     font-variation-settings:
         "wdth" 100;
 }

 .lato-regular {
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .lato-bold {
     font-family: "Lato", sans-serif;
     font-weight: 700;
     font-style: normal;
 }




 * {
     margin: 0 auto;
     width: 100%;
 }

 /* 
.grid {
    position: relative; 
    max-width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr;

} 

*/
.card {
    position: relative;
    width: 70%;
    padding: 16px;
    padding: 20px;
    border: solid 5px var(--accent3-color);
   
} 

/* .card ul {
    list-style-type: none;
    display: block;
    text-align: left;


} */



 */


/*



 .hero img {
     width: 100%;
     height: auto;

 }


 /* set up the inserts in the pic on large view, medium   small they fall under neath */
 .card {

     right: 0px;
     width: 30%;
     padding: 16px;
     text-align: center;

     padding: 20px;
     border: solid 5px var(--accent3-color);
 }

 .card1 {

     padding: 20px;
     border: solid 5px var(--accent3-color);
 }

 .card img {
     margin: .5em;
 }






 h1 {
     display: flex;
     justify-content: space-around;
     padding: .5em;
 }

 .hero h2 {
     position: absolute;
     top: 120px;
     left: 0px;
     width: 100%;
     padding: 16px;
     text-align: center;
     background-color: var(--accent3-color);
     color: var(--secondary-color);
 }

 /* .hero img {
    display: block;
    width: 100%;
    height: auto;
} */

 .hero5 {
     /* article */
     float: right;
     width: 1fr;
 }

 .hero-article {
     position: absolute;
     top: 35rem;
     width: 100%;
     float: right;
     background: var(--accent3-color);
 }

 .hero-article-p {
     padding: 2rem;
     left: 0px;
     right: 0px;
     color: var(--accent1-color);
     font-weight: 600;
     font-size: 1rem;
     position: relative;
 }



 }

 .ending {
      margin: 0;
     display: grid;
     grid-template-rows: 1.5em;
     font-size: 3em;
     font-weight: 700;
     background-color: var(--accent3-color);
     padding: 10px;
     border-bottom: solid .5em;
 }

header {
    margin: 0;
    display: grid;
    grid-template-rows: 1.5em;
    font-size: 3em;
    font-weight: 700;
    background-color: var(--accent3-color);
    padding: 10px;
    border-bottom: solid .5em;
}


.ending {
    margin: 0;
    display: grid;
    grid-template-rows: 1.5em;
    font-size: 90%;
    font-weight: 700;
    background-color: var(--accent3-color);
    padding: 10px;
    border-bottom: solid .5em;
}

.small-font {
    font-size:20%;
}
}