@media screen and (max-width: 768px) and (min-width: 501px) and (orientation: landscape) and (orientation: portriat) {
  
    .hero-article {
        display: none;
    }

    body {
        max-width: 95%;
    }

    .smallest {
        display: grid;

        max-width:fit-content;
    }
    label, input {
        display: block;
        margin-bottom: 10px;

    }

    .navigation {
        display: none;
    }
   
    .hamburger {
        display: block;
        border: 0;
        background: none;
        color: var(--accent1-color);
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    }

    .hamburger::before {
        content: "☰";
        cursor: pointer;
    } 

    .hamburger.show:after {
        content: "❌";
    } 



}
