@media screen and (max-width: 800px) and (min-width: 501px) {
  
    .hero-article {
        display: none;
    }

    body {
        max-width: 95%;
    }

    .smallest {
        display: grid;

        max-width:fit-content;
    }
    label, input {
        display: block;
        margin-bottom: 10px;

    }

    .navigation {
        display: none;
    }
   
    .hamburger {
        display: block;
        border: 0;
        background: none;
        color: rgb(69, 209, 123);
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    } 

    .hamburger::before {
        content: "☰";
    } 

    .hamburger::after {
        content: "❌";
    }



}
