@media screen and (max-width: 768px) and (min-width: 501px) and (orientation: landscape) and (orientation: portriat) {
  
    .hero-article {
        display: none;
    }

    body {
        max-width: 95%;
    }

    .smallest {
        display: grid;

        max-width:fit-content;
    }
    label, input {
        display: block;
        margin-bottom: 10px;

    }

    .navigation {
        display: none;
        display: flex;  /*last 3*/
        gap: 20px;
        list-style: none;
    }

    .navigation.show {
        display: flex;
    }

    .navigation a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }



    .hamburger {
    display: block;
    }
      


    #menu {
        display: block;
        border: 0;
        background: none;
        color: var(--accent1-color);
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    }

    #menu::before {
        content: "&#9776";
        cursor: pointer;
    } 

    #menu.hamburger.show:after {
        content: "❌";
    } 



}
