@media screen and (min-width: 800px) {
    /* 
    main {
        margin: 2em auto;
        max-width: 800px;

    } */

    /* .grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        /* grid-auto-rows: 400x;  */
    grid-gap: 10px;


}

*/
/* section {
        padding: 1rem;
        background-color: hsl(0, 5%, 85%);
        align-self: center;
        border-radius: 5px;
        border: 1px;
        border: black solid;
    } */


/* .navigation li {
        display: block;
        flex: 1 1 100%;
    } */

/* .navigation a {
        text-align: center;
        border-style: none;
    } */


/* img {
        width: 300px;
        height: 200px;
        display: block;
    } */


/* nav {
        display: block;
        margin: 0 auto;
        max-width: 800px;
    } */

/* nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

    } */

/* a:before {
        display: block;
        text-align: center;
        padding: .5rem;
        /* border: 5px; 
        text-decoration: none;
        border-style: none;
        border-color: rgba(219, 217, 217, 0.452);
    } */

/* a:hover {
        border: 3px;
        border-radius: .5rem;
        border-style: double;
        padding: .25rem;
    }

}
/* 
.hero {
    margin-top: 1rem;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
   
} */
/* 
.hero-article {
    position: absolute;
    top: 35rem;
    width: 100%;
    float: right;
    background: var(--secondary-color);
}

.hero-article-p {
    padding: 2rem;
    left: 0px;
    right: 0px;
    color: var(--accent1-color);
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    } */
/* 
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}


.title {
        font-size: 1.5rem;
    }

 */



:root {
    --accent1-color: #91ccee;
    --accent2-color: rgba(240, 98, 98, 0.836);
    --heading-font: ".lato-bold", sans-serif;
    --body-font: ".roboto", sans-serif;
}

roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: space-around;
    padding: .5em;
}


h2 {
    display: block;
    text-align: center;
    background-color: rgba(240, 98, 98, 0.836);
    margin-bottom: 1rem;

}

header {
    margin: 0;
    display: grid;
    grid-template-rows: 2em 2.5em;
    font-size: x-large;
    font-weight: 700;
    background-color: rgba(240, 98, 98, 0.836);
    padding: 10px;
    border-bottom: solid .5em;
}

nav {
    font-size: medium;
    min-width: 800px;
    margin: 0 auto;
    background-color: #e4e4e4;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

nav ul li {
    flex: 1 1 100%;

}

li a {
    box-shadow: inset 0 0 0 0 var(--accent1-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 5rem;

}

li a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    box-shadow: inset 380px 0 0 50px #54b3d681;
    color: rgb(5, 5, 5);

}

main {
    max-width: 1200px;
}

h2 {
    background-color: #e4e4e4;
    padding-block: 1em;
}

.grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.card {
    /* background-color: #ada3a3; */
    padding: 20px;
    border: solid 5px rgb(30, 145, 106);
}

.card img {
    margin: .5em;
}

button {
    margin: .5rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-weight: 700;
    border: 1px solid var(--accent1-color);
    border-radius: 5rem;
    padding: .2rem;
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-weight: 700;

}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin: 20px;
    clear: both;
}

footer {

    padding: .5em;
    margin: 2em;

}

.lastmodified {
    margin: 0;
    float: right;

}

footer {
    background-color: rgba(163, 151, 151, 0.452);
    font-weight: 700;
    padding: 0px;
    border-top: solid .5em;

}